header{
    padding: 10px;
    background-color:black;
    color: white;
    border-radius: 20px;
    text-align: center;

}

body{
    font-family: 'Lato' sans-serif; 
    text-align: center;
    background-color: blanchedalmond;
}

ul{
    text-align: center;
    list-style-type: none;
}

h1{
   background-color: aqua;
   color: black;

}

h2{
    background-color:black;
    color: white;
}

p{
    

}

li{
    padding: 10px;
    color: black;
}